In [2]:
import numpy as np
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
nltk.download('vader_lexicon')

C:\Users\kduar_000\Anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\kduar_000\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
# python3 -m pip install --upgrade pandas pip

In [24]:
df = pd.read_pickle('data/raw_sample_KDU.pkl')
df.head()

,Open,High,Low,Close,Adj Close,Volume,headline.main
2007-01-01,12475.916211,12558.621875,12423.344141,12469.971875,12469.971875,260944000.0,Estimates of Iraqi Civilian Deaths Romania and...
2007-01-02,12467.728125,12569.485742,12414.082227,12472.245703,12472.245703,294072000.0,"For Dodd, Wall Street Looms Large Ford's Lost ..."
2007-01-03,12459.540039,12580.349609,12404.820313,12474.519531,12474.519531,327200000.0,"Ethics Changes Proposed for House Trips, K Str..."
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000.0,I Feel Bad About My Face Bush Recycles the Tra...
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000.0,Macworld Bingo Anti-Surge Protests Against McC...

In [4]:
df.shape

(3651, 7)

In [5]:
sent = SentimentIntensityAnalyzer()

In [14]:
sent_head = df['headline.main'].apply(lambda x: sent.polarity_scores(x)) 
# 입력 된 텍스트를 기반으로 감정의 강도 float를 돌려줍니다. 양수 값은 양수이고 음수 값은 음수입니다.
sent_head = pd.DataFrame.from_records(sent_head.values, index=sent_head.index)
sent_head.head()

              neg    neu    pos  compound
2007-01-01  0.160  0.738  0.102   -0.9851
2007-01-02  0.117  0.775  0.109    0.4395
2007-01-03  0.192  0.748  0.060   -0.9995
2007-01-04  0.113  0.827  0.060   -0.9973
2007-01-05  0.082  0.829  0.089    0.9726

In [15]:
sent_head.shape

(3651, 4)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3651 entries, 2007-01-01 to 2016-12-31
Data columns (total 11 columns):
Open             3651 non-null float64
High             3651 non-null float64
Low              3651 non-null float64
Close            3651 non-null float64
Adj Close        3651 non-null float64
Volume           3651 non-null float64
headline.main    3651 non-null object
neg              3651 non-null float64
neu              3651 non-null float64
pos              3651 non-null float64
compound         3651 non-null float64
dtypes: float64(10), object(1)
memory usage: 502.3+ KB

In [18]:
sent_head.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3651 entries, 2007-01-01 to 2016-12-31
Data columns (total 4 columns):
neg         3651 non-null float64
neu         3651 non-null float64
pos         3651 non-null float64
compound    3651 non-null float64
dtypes: float64(4)
memory usage: 302.6 KB

In [20]:
#df = df.merge(sent_head, on=sent_head.index, how='left')

In [25]:
df = df.join(sent_head, how='left')

In [26]:
df.head(2)

,Open,High,Low,Close,Adj Close,Volume,headline.main,neg,neu,pos,compound
2007-01-01,12475.916211,12558.621875,12423.344141,12469.971875,12469.971875,260944000.0,Estimates of Iraqi Civilian Deaths Romania and...,0.160,0.738,0.102,-0.9851
2007-01-02,12467.728125,12569.485742,12414.082227,12472.245703,12472.245703,294072000.0,"For Dodd, Wall Street Looms Large Ford's Lost ...",0.117,0.775,0.109,0.4395

In [27]:
df.shape

(3651, 11)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3651 entries, 2007-01-01 to 2016-12-31
Data columns (total 11 columns):
Open             3651 non-null float64
High             3651 non-null float64
Low              3651 non-null float64
Close            3651 non-null float64
Adj Close        3651 non-null float64
Volume           3651 non-null float64
headline.main    3651 non-null object
neg              3651 non-null float64
neu              3651 non-null float64
pos              3651 non-null float64
compound         3651 non-null float64
dtypes: float64(10), object(1)
memory usage: 502.3+ KB

In [29]:
col = ['Adj Close', 'Open', 'High', 'Low', 'Close', 'compound', 'neg', 'neu', 'pos']
new_names = ['prices', 'Open', 'High', 'Low', 'Close', 'compound', 'neg', 'neu', 'pos']
df = df[col]
df.columns = new_names
df.prices = df.prices.astype('int')
df.head()

,prices,Open,High,Low,Close,compound,neg,neu,pos
2007-01-01,12469,12475.916211,12558.621875,12423.344141,12469.971875,-0.9851,0.160,0.738,0.102
2007-01-02,12472,12467.728125,12569.485742,12414.082227,12472.245703,0.4395,0.117,0.775,0.109
2007-01-03,12474,12459.540039,12580.349609,12404.820313,12474.519531,-0.9995,0.192,0.748,0.060
2007-01-04,12480,12473.160156,12510.410156,12403.860352,12480.690430,-0.9973,0.113,0.827,0.060
2007-01-05,12398,12480.049805,12480.129883,12365.410156,12398.009766,0.9726,0.082,0.829,0.089

In [30]:
df.to_pickle('data/train_set_KDU.pkl')