## 문자열 구간 지정

In [2]:
txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'
print(txt1[3:7])      # ‘ale ’이 출력됨
print(txt1[:6])       # ‘A tale’ 이 출력됨
print(txt2[-4:])      # ‘가리라.’가 출력됨

ale
A tale
가리라.

## 홀수번째 문자만 출력

In [2]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]
print(ret)       # ‘abcdefghijk’ 가 출력됨

abcdefghijk

## 문자열 꺼구로 만들기

In [3]:
txt = 'abcdefghijk'
ret = txt[::-1]
print(ret)       # ‘kjihgfedcba’ 가 출력됨

kjihgfedcba

## 문자열 대소문자 변환

In [6]:
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)       # ‘A LOT OF THINGS OCCUR EACH DAY.’가 출력됨
print(ret2)       # ‘a lot of things occur each day.’가 출력됨

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.

## 문자열 좌우 공백 제거

In [7]:
txt = '   양쪽에 공백이 있는 문자열입니다.   '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<'+txt+'>')
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

<   양쪽에 공백이 있는 문자열입니다.   >
<양쪽에 공백이 있는 문자열입니다.   >
<   양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

## 문자열 개수 구하기

In [8]:
txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)  # 3이 출력됨
print(word_count2)  # 2가 출력됨
print(word_count3)  # 8이 출력됨

3
2
8

## 특정문자열 위치 찾기

In [9]:
txt = 'A lot of things occur each day, every day.'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30) 
## 30번 인덱스 이후부터 'day'문자열 찾기 시작

print(offset1)   # 22가 출력됨
print(offset2)   # 27이 출력됨
print(offset3)   # 38이 출력됨

22
27
38

## 문자열 분리(split)

In [10]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2 = log.split()
for data in ret2:
   d1, d2 = data.split(':')
   print('%s -> %s' %(d1, d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

## 문자열 결합(join)

In [11]:
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

## 문자열 바꾸기(replace)

In [12]:
txt = 'My password is 1234'
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'python')
print(ret1)   # ‘My Password is 0234’가 출력됨
print(ret2)   # ‘My Password is python234’가 출력됨

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')  
ret4 = ret3.replace('일', '사건')
print(ret3)   # ‘항상 많은 일들이 일어납니다.’가 출력됨
print(ret4)   # ‘항상 많은 사건들이 사건어납니다.’가 출력됨

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.

## 문자열 정렬

In [15]:
strdata = input('정렬할 문자열을 입력하세요: ')
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse=True)
print(ret1)
print(ret2)
ret1 = ''.join(ret1)
ret2 = ''.join(ret2)
print('오름차순으로 정렬된 문자열은 <' + ret1 + '> 입니다.')
print('내림차순으로 정렬된 문자열은 <' + ret2 + '> 입니다.')

정렬할 문자열을 입력하세요: ㄴㄷㄱㅁㅂ
['ㄱ', 'ㄴ', 'ㄷ', 'ㅁ', 'ㅂ']
['ㅂ', 'ㅁ', 'ㄷ', 'ㄴ', 'ㄱ']
오름차순으로 정렬된 문자열은 <ㄱㄴㄷㅁㅂ> 입니다.
내림차순으로 정렬된 문자열은 <ㅂㅁㄷㄴㄱ> 입니다.

# 리스트
## 순차적인 정수 리스트

In [16]:
range1 = range(10)
range2 = range(10, 20)
print(list(range1))   # [0 ,1, 2, 3, 4, 5, 6, 7, 8, 9]가 출력됨
print(list(range2))   # [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]가 출력됨

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## 리스트에서 특정 위치 요소 얻기

In [17]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]
print(val1)   # 2가 출력됨
print(val2)   # ‘b’가 출력됨
print(val3)   # 5가 출력됨

2
b
5

## 특정요소의 위치 구하기(index)

In [18]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet = '지구'
pos = solarsys.index(planet)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))
pos = solarsys.index(planet, 5)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.
지구은(는) 태양계에서 9번째에 위치하고 있습니다.

## 특정위치 요소 변경

In [20]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet = '화성'
pos = solarsys.index(planet)
solarsys [pos] = 'Mars'
print(solarsys)

['태양', '수성', '금성', 'Mars', '화성', '목성', '토성', '천왕성', '해왕성']

## 특정 구간 요소 추출

In [21]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]
print('태양계의 암석형 행성: ', end='');print(rock_planets)
print('태양계의 가스형 행성: ', end='');print(gas_planets)

태양계의 암석형 행성: ['수성', '금성', '지구']
태양계의 가스형 행성: ['화성', '목성', '토성', '천왕성', '해왕성']

## 짝수 번째 요소만 추출

In [24]:
listdata = list(range(1, 21))
evenlist = listdata[1::2]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 요소 추가 (append)

In [26]:
listdata = []
for i in range(3):
   txt = input('리스트에 추가할 값을 입력하세요[%d/3]: ' %(i+1))
   listdata.append(txt)
   print(listdata)

리스트에 추가할 값을 입력하세요[1/3]: 안
['안']
리스트에 추가할 값을 입력하세요[2/3]: 녕
['안', '녕']
리스트에 추가할 값을 입력하세요[3/3]: 하
['안', '녕', '하']

## 특정위치 요소 삽입(insert)

In [29]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성')
print(solarsys)

['태양', '수성', '소행성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

## 특정위치 요소 제거(del)

In [30]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

## 특정 요소 제거(remove)

In [32]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys.remove('태양')
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

## 특정 구간 요소 제거

In [33]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[1:3]
print(solarsys)

['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

## 특정 요소 개수 구하기

In [34]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
c1 = listdata.count(2)
c2 = listdata.count(7)
print(c1)    # 3이 출력됨
print(c2)    # 1이 출력됨

3
1

## 리스트 제거

In [35]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
del listdata
print(listdata)

NameError: name 'listdata' is not defined

## 정렬 sort

In [36]:
# 정렬 1
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
namelist.sort()
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [37]:
# 정렬 2 (sorted)
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse=True)
print(namelist)
print(ret1)
print(ret2)

['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [39]:
# 섞기 (shuffle)
from random import shuffle

listdata = list(range(1, 11))
for i in range(3):
   shuffle(listdata)
   print(listdata)    # 출력 결과는 실행할 때마다 달라짐

[6, 1, 10, 3, 5, 8, 2, 9, 4, 7]
[8, 5, 4, 7, 1, 3, 10, 6, 2, 9]
[4, 7, 6, 2, 9, 3, 8, 1, 5, 10]

## 인덱스와 쌍으로 추출하기(enumerate)

In [40]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
   print('태양계의 %d번째 천체: %s' %(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

## 합구하기

In [41]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)    # 65가 출력됨

65