# 사전
## 요소 추가

In [2]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}
for i, k in enumerate(solar1):
   val = solar2[i]
   solardict[k] = val

print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

## 특정 요소값 변경하기

In [1]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

## 특정 요소 제거하기

In [2]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
del names['Sams']
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

## 모든 요소 제거하기

In [3]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
names.clear()
print(names)

{}

## 키만 추출하기(keys)

In [4]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
ks = names.keys()
print(ks)

for k in ks:
   print('Key:%s \tValue:%d' %(k, names[k]))

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
Key:Mary 	Value:10999
Key:Sams 	Value:2111
Key:Aimy 	Value:9778
Key:Tom 	Value:20245
Key:Michale 	Value:27115
Key:Bob 	Value:5887
Key:Kelly 	Value:7855

## 값만 추출하기(values)

In [5]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
vals = names.values()
print(vals)

vals_list = list(vals)
ret = sum(vals_list)
print('출생아수 총계: %d' %ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아수 총계: 83990

## 사전 요소를 모두 추출하기

In [6]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
items = names.items()
print(items)

for item in items:
   print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

## 특정키 존재 확인(in)

In [8]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
k = input('이름을 입력하세요: ')
if k in names:
   print('이름이 <%s>인 출생아수는 <%d>명 입니다.' %(k, names[k]))
else:
   print('자료에 <%s>인 이름이 존재하지 않습니다.' %k)

이름을 입력하세요: dd
자료에 <dd>인 이름이 존재하지 않습니다.

## 사전 정렬하기(sort)

In [9]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
ret1 = sorted(names)
print(ret1)

def f1(x):
   return x[0]

def f2(x):
   return x[1]

ret2 = sorted(names.items(), key=f1) # 키를 기준으로 정렬
print(ret2)

ret3 = sorted(names.items(), key=f2) # 값을 기준으로 정렬
print(ret3)

ret4 = sorted(names.items(), key=f2, reverse=True)
print(ret4)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]

## 문자열로 된 식을 실행하기

In [4]:
expr1 = '2+3'
expr2 = 'round(3.7)'
ret1 = eval(expr1)
ret2 = eval(expr2)
print('<%s>를 eval()로 실행한 결과: ' %expr1, end=' '); print(ret1)
print('<%s>를 eval()로 실행한 결과: ' %expr2, end=' '); print(ret2)

<2+3>를 eval()로 실행한 결과:  5
<round(3.7)>를 eval()로 실행한 결과:  4

## 이름없는 함수 만들기(lambda)

In [15]:
add = lambda x, y: x+y
ret = add(1, 3)
print(ret)    # 4가 출력됨

funcs = [lambda x: x+'.pptx', lambda x: x+'.docx']
ret1 = funcs[0]('Intro')
ret2 = funcs[1]('Report')
print(ret1)   # intro.pptx가 출력됨
print(ret2)   # Report.docx가 출력됨

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}
ret3 = sorted(names.items(), key=lambda x: x[0])
print(ret3)

4
Intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

## 인자를 바꾸면서 함수 반복 호출

In [17]:
f = lambda x: x*x
args = [1, 2, 3, 4, 5]
ret = map(f, args) 
# 파이썬 내장함수 map()은 집합 A와 함수 f가 주어지면
# 집합 B를 구해주는 함수와 동일한 역할 수행
print(list(ret))

[1, 4, 9, 16, 25]

In [18]:
f = lambda x, y: x*x + y
X = [1,2,3,4,5]
Y = [10,9,8,7,6]
ret = map(f, X, Y)
print(list(ret))

[11, 13, 17, 23, 31]

## 계산 맞히기 게임 만들기

In [36]:
# 프로젝트1 :계산 문제를 맞추는 게임
import random

def make_question():
    a = random.randint(1, 40)   # 1~40 사이의 임의의 수를 a에 저장합니다.
    b = random.randint(1, 20)   # 1~20 사이의 임의의 수를 b에 저장합니다.
    op = random.randint(1, 3)   # 1~3 사이의 임의의 수를 op에 저장합니다.

    # 문자열 변수 q에 문제를 만듭니다.
    # 첫 번째 숫자를 q에 저장합니다.
    q = str(a)                  # a 값(정수)을 문자열로 바꾸어 저장합니다.

    # 연산자를 추가합니다.
    if op == 1:                 # op 값이 1이면 덧셈 문제로 만듭니다.
        q = q + "+"
    if op == 2:                 # op 값이 2이면 뺄셈 문제로 만듭니다.
        q = q + "-"
                                # op 값이 3이면 곱셈 문제로 만듭니다.

    # 두 번째 숫자를 q에 저장합니다.
    q = q + str(b)              # b 값(정수)을 문자열로 바꾸어 q에 추가합니다.

    # 만들어진 문제를 돌려줍니다.
    return q

In [34]:
# 정답/오답 횟수를 저장할 변수 sc1과 sc2를 0으로 초기화합니다.
sc1 = 0
sc2 = 0

for x in                    # 다섯 문제를 풀어봅니다.
    q = make_question()     # 문제를 만듭니다.
    print(q)                # 문제를 출력합니다.
    ans = input("=")        # 사용자에게 정답을 입력받습니다.
    r = int(ans)            # 입력받은 정답을 정수로 바꿉니다.

    # 문제 q를 컴퓨터가 계산한 결과와 사용자가 입력한 결과(r)를 비교합니다.
    if 
        print("정답!")
        sc1 = sc1 + 1
    else:
        print("오답!")
        sc2 = sc2 + 1

3+7
=10
정답!
17*18
=306
정답!
7*13
=91
정답!
11+14
=25
정답!
14*17
=238
정답!

In [35]:
print("정답:", sc1, "오답:", sc2)
if                 # 오답이 0개일 때(전부 정답을 맞췄을 때)
    print("당신은 천재입니다!")

정답: 5 오답: 0
당신은 천재입니다!